@import 'bulma';
@import 'navigation';
@import 'workouts';
@import 'movement';

h1 {
  font-size: 3.25em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2.250em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

body {
  padding-bottom: 10%;
}