.navigation {
  
  .application-title {
      display: inline;
      font-size: 1.5em;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-left: 10px;
      a { 
          color: white;
      }
  }
  .nav-items {
      display: inline;
      .nav-item {
        margin-left: 10px;
        margin-right: 10px;
        display: inline;
        list-style: none;
        border: 1px solid black;
        
        a {
          font-size: 1.5em;
          letter-spacing: 2px;
          color: white;
          text-decoration: none;
        }
      }
  }

  background-color: black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.message-box {
  width: 60%;
  height: 5%;

  .alert {
      font-size: 1.4em;
  }
}