{{#if @isLoading}}
  Loading...
{{else}}
  {{#each @movements as |movement| }}
    <MovementForm @movement=movement @workout=@workout></MovementForm>
  {{/each}}
{{/if}}

<div class="button is-pulled-right" {{on "click" this.addMovement}}>Add Movement</div>