<h1>Workout Index</h1>
<hr class="hr">

<div class="table-container">
 
  <table class="table">
    <thead>
      <th></th>
      <th>Title</th>
      <th>Classification</th>
      <th></th>
    </thead>
    <tbody>
    {{#each @model as |workout|}} 
      <tr>
        <th>{{moment-format workout.createdAt 'MM/DD/YYYY' 'MM-DD-YYYY'}}</th>
        <td>{{workout.title}}</td>
        <td>{{workout.classification}}</td>
        <td><LinkTo @route="workouts.edit" @model={{workout}}>View</LinkTo></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  
</div>