<h1>New Workout</h1>

<div class="workout-form">
  <div class="field">
    <label class="label">Type</label>
    <div class="control">
      <Input id="classification" @value={{model.classification}} />
    </div>
  </div>
  <div class="field">
    <label class="label">Condition</label>
    <div class="control">
      <Input id="condition" @value={{model.condition}} />
    </div>
  </div>
  <div class="field">
    <label class="label">Notes</label>
    <div class="control">
      <Textarea id="notes" @value={{model.notes}} />
    </div>
  </div>
</div>

<div class="movements-form">
  <h3>Movements</h3>
</div>
