<nav class="level navigation">
  <div class="level-left">
    <div class="application-title"><LinkTo @route="home">IRON & SOIL</LinkTo></div>
  </div>
    
  <div class="level-right">
    <ul class="nav-items">
      <li class="nav-item"><LinkTo @route="workouts.index">WORKOUTS</LinkTo></li>
    {{#if this.session.isAuthenticated}}
      <li class="nav-item"><a {{on "click" this.invalidateSession}}>Logout</a></li>
    {{else}}
      <li class="nav-item"><LinkTo @route="login">Login</LinkTo></li>
    {{/if}}
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>