<nav class="level navigation">
  <div class="level-left">
    <div class="application-title">{{#link-to 'home' }}IRON & SOIL{{/link-to}}</div>
  </div>
    
  <div class="level-right">
    <ul class="nav-items">
      <li class="nav-item">{{#link-to 'workouts' }}WORKOUTS{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="main-content">
    {{outlet}}
  </div>
</div>